button{
  -webkit-appearance: none;
}

.fib-button{
  color: #000;
  background:#fff;
  display: inline-block;
  position:relative;
  padding: 10px 25px;
  border-radius: 12px;
  border: 2px solid #fff;
  text-transform: uppercase;
  letter-spacing:3px;
  text-decoration: none;
  margin-top: 10px;
  font-weight:bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.page-enter-active, .page-leave-active {
  transition: all .30s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}

.page-enter-active {
  animation: acrossIn .40s ease-out both;
}
.page-leave-active {
  animation: acrossOut .60s ease-in both;
}

.fade-page-enter,
.fade-page-leave-active {
  opacity: 0;
  transform: translateY(-10px);
  transform-origin: 50% 50%;
}
.fade-page-leave-active {
  position: absolute;
}
.fade-page-enter-active, .fade-page-leave-active {
  transition: all .30s ease-out;
}

.fade-page-enter-active {
  animation: acrossIn .40s ease-out both;
}
.fade-page-leave-active {
  animation: acrossOut .60s ease-in both;
}

.animated {
  transition: all 0.5s;
  /*display: flex;*/
  width: 100%;
}

@keyframes acrossIn {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity:0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity:1;
  }
}
@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
    opacity:1;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    opacity:0;
  }
}


@mixin for-size($range){
  @if $range == mobile {
    @media (max-width: 480px) { @content; }
  } @else if $range == small-tablets {
    @media (min-width: 481px) { @content; }
  } @else if $range == tablets {
    @media (min-width: 768px) { @content; }
  } @else if $range == laptops {
    @media (min-width: 980px) { @content; }
  } @else if $range == desktop {
    @media (min-width: 1100px) { @content; }
  } @else if $range == large-desktop {
    @media (min-width: 1405px) { @content; }
  }
}